 body {
 	display: block;
 	margin: 0;
 	padding: 0;
 	font-family: "Roboto", sans-serif;
 	background-color: #faf5ec
 }

 .page-header {
 	min-height: 55px;
 	padding-top: 35px;
 }

 .header {
 	margin: 0 auto;
 	border-radius: 45px;
 	background-color: white;
 	width: 1120px;
 	height: 90px;
 	padding: 0 60px;
 }

 .header-logo {
 	color: #996666;
 	float: left;
 	width: 174px;
 	height: 55px;
 	margin: 18px 0;
 }

 p {
 	margin: 0;
 	padding: 0;
 	padding-top: 5px;
 	font-family: "Roboto", sans-serif;
 	font-size: 12px;
 }

 .main-nav {
 	float: left;
 	margin: 35px 0 0 150px;
 	padding: 0;
 	list-style: none;
 }

 .main-nav li {
 	float: left;
 	margin-right: 40px
 }

 .text {
 	font-family: "EB Garamond", sans-serif;
 	margin-top: 15px;
 	float: right;
 	font-size: 24px;
 	font-weight: 600;
 	color: #857d70
 }

 .new {
 	float: right;
 	font-family: "Roboto", sans-serif;
 	font-weight: 600;
 	color: #857d70
 }

 ul {
 	display: block;
 	margin-block-start: 1em;
 	margin-block-end: 1em;
 	margin-inline-start: 0px;
 	margin-inline-end: 0px;
 	padding-inline-start: 40px
 }

 li {
 	display: list-item;
 }

 a {
 	text-decoration: none;
 	/*убираем подчеркивание текста ссылок*/
 }

 .btn {
 	float: right;
 	width: 148px;
 	margin-top: 6px;
 	padding: 5px;
 	display: inline-block;
 	font-size: 13px;
 	border: 1px solid #dba65a;
 	background-color: white;
 	font-weight: normal;
 	text-align: center;
 	text-decoration: none;
 	color: #333333;
 	border-radius: 25px;

 }


 .btn:hover {
 	color: #404040;
 	background: #a38b70;
 	border-color: white
 }

 .btn:active {
 	color: rgba(64, 64, 64, 0.3);
 	background: white;
 	border-color: white
 }

 h2 {
 	font-family: "EB Garamond", sans-serif;
	text-align: center;
 	font-size: 34px;
 	font-weight: 600;
 	color: #857d70
 }
